.course { 
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100px;
    height: 100px; 
    position: relative; 
    margin: 1.5%;
    margin-left:0%; 
    cursor:pointer;
    float:left;
    text-align:left; 
    padding:1.5%; 
    box-sizing: border-box;
  

}

#empty { 
    border:1px solid #cccccc;
    background-color:white;
}
#emptyselect { 
    border:1px solid #666666;
    background-color:#666666; 
    
    
}

h4 { 
    font-size: 12px;
    line-height: .5;
    margin-top:8%; 
    margin-left:2%; 

}

.add { 
    font-size:30px; 
    color:#999999;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    text-align: center; 
    width:100%;
    margin:0;
}



p { 
    text-align: center; 
    color: #999999;
    margin:5%;
    font-size:13px;
}

#pselect{ 
    color: white; 
}



.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
    border: 0.5px solid#999999;
    border-radius: 2px;
    transition: 0.15s ease-in-out;
  }
  .popup-arrow {
    color: #cccccc;

  }
  [role='tooltip'].popup-content {
    width: 200px;
    
  }