.course { 
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100px;
    height: 100px; 
    position: relative; 
    margin: 1.5%;
    margin-left:0%; 
    cursor:pointer;
    float:left;
    text-align:left; 
    padding:1.5%; 
    box-sizing: border-box;
  

}

#empty { 
    border:1px solid #cccccc
    
}

h4 { 
    font-size: 12px;
    line-height: .5;
    margin-top:8%; 
    margin-left:2%; 

}

.add { 
    font-size:30px; 
    color:#999999;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    text-align: center; 
    width:100%;
    margin:0;
}

p { 
    text-align: center; 
    color: #999999;
    margin:5%;
    font-size:13px;
}

