.course { 
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100px;
    height: 100px; 
    position: relative; 
    margin: 1.5%;
    margin-left:0%; 
    cursor:pointer;
    float:left;
    text-align:left; 
    padding:1.5%; 
    box-sizing: border-box;
  

}

h4 { 
    font-size: 12px;
    line-height: .5;
    margin-top:8%; 
    margin-left:2%; 

}