.hubs { 
    clear:both; 
    width:100%; 

}

.hubColumn { 
    margin-top:4%; 
    width:50%;
    float:left; 


}
.checkbox { 
    font-size: 0.85rem;
    width:100%;
    float:left; 
    line-height: 1.5;
    margin-bottom:2%;



}

b { 
    font-size:0.85rem;
}

