.form{
  font-family: inherit;
  
  
}

.save-button{
    font-family: inherit; 
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline:none;
    border-radius: 5px;
    border: 0.8554px solid transparent;
    color:white;
    cursor:pointer;
}

.form{
  
    background-color: white;
    box-shadow: none;
    outline:none;
    border-radius: 5px;
    border: solid transparent;
    cursor:pointer;

}

.input{
  border-color: transparent;
  
}

