.semMenu { 
    font-family: inherit; 
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline:none;
    border-radius: 5px;
    border: 0.8554px solid transparent;
    padding:0.25rem 0.5rem;
    line-height:1.5; 
    color:white;
    float:left; 
    clear:both;
    margin-top: 4%; 
    margin-bottom: 4%;
    cursor:pointer;
    font-size:0.875rem;
    font-weight:500;

}

.semMenu:hover{ 
    transition: 0.15s ease-in-out ;
    color:white;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.addText{
    color: white;
    font-family: inherit; 
    font-size:0.875rem;
    font-weight:500;
}

.semMenu-open{
font-family: inherit;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline:none;
    border-radius: 5px;
    border: 0.8554px solid white;
    padding:0.25rem 0.5rem;
    line-height:1.5; 
    color:white; 
    float:left; 
    clear:both;
    margin-top: 4%; 
    margin-bottom: 4%;
    cursor:pointer;
    font-size:0.875rem;
    font-weight:500;
    
}

.dropdown-text{
     font-family: inherit; 
    background-color: white;
    
}