.App {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




.App-main { 
  clear:both;
  width:100%;
  position: relative; 
  top:90px;
  margin:1.5%;

}

.headline { 
  margin-left:0.8%; 
  margin-top:0; 
  padding-bottom:2%;
  border-bottom:1px solid #cccccc;
  margin-bottom:1%;


}

h1 { 
  display:inline;
  font-size:2.5rem; 
  font-weight:500; 
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


