body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popover { 
  min-width:276px !important;
}

.btn-outline-dark { 
  border: 1px solid #f44336;
  color: #212529
}

.btn-outline-dark:hover { 
  border: 1px solid #f44336;
  background-color: white;
  color:#212529;
}

